h1 {
    color:red;
 }
 
 .header{
    display:flex;
    justify-content :space-start;

}
.site-description{
    display:flex;
    flex-direction:column;
    justify-content: first baseline
}
.grid{
    display:flex;
    flex-wrap: space-evenly;
}
.item{
    display:flex;
    flex-wrap: space-evenly;
    border:dotted;
    color:aqua;
}
.footer{
    display:flex;
    justify-content: flex-end;
}